{% extends 'traceability/keys/keyslist_base.html' %}
{% block tab-inactive %}active{% endblock %}
{% block list-text %}En esta lista se muestran las claves desactivadas. Las transacciones recibidas firmadas con estas claves serán ignoradas. Puede volver a activarlas en cualquier momento.{% endblock %}
{% block list %}
{% for k in keys_list %}
    <tr>
        <td class="align-middle">{{ k.name }}</td>
        <td class="align-middle">{{ k.hash }}</td>
        <td class="align-middle"><a href="{% url 'key_details' k.hash %}" class="btn btn-info" role="button">Detalles</a> <a href="{% url 'activate_key' hash=k.hash %}" class="btn btn-success" role="button">Activar</a></td>
    </tr>
{% empty %}
    <tr><td colspan="3">No hay claves inactivas.</td></tr>
{% endfor %}
{% endblock %}