{% extends 'base.html' %}
{% block nav-config %}active{% endblock %}
{% block content %}
<h3 class="mt-3">Configuración</h3>
<ul class="nav nav-tabs">
    <li class="nav-item">
    <a class="nav-link {% block tab-products %}{% endblock %}" href="{% url 'config_products' %}">Productos</a>
    </li>
    <li class="nav-item">
    <a class="nav-link {% block tab-origins %}{% endblock %}" href="{% url 'config_origins' %}">Orígenes</a>
    </li>
    <li class="nav-item">
    <a class="nav-link {% block tab-destinations %}{% endblock %}" href="{% url 'config_destinations' %}">Destinos</a>
    </li>
</ul>
{% block config %}{% endblock %}
{% endblock %}