{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Traceability Monitor</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "popper.min.js" %}"></script>
    <script src="{% static "bootstrap.min.js" %}"></script>

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'icons/font/flaticon.css' %}">

  </head>

  <body>
    {% if messages %}
    {% for message in messages %}
    <!-- Modal messages -->
    <div class="modal fade" id="modal-message-{{ forloop.counter0 }}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Información</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            {{ message }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" {% if not forloop.last %}data-toggle="modal" data-target="#modal-message-{{ forloop.counter }}"{% endif %} data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <script type="text/javascript">
      $(window).on('load',function(){
          $('#modal-message-0').modal('show');
      });
    </script>

    {% endif %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Traceability Monitor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {% block nav-home %}{% endblock %}">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item {% block nav-stages %}{% endblock %}">
              <a class="nav-link" href="{% url 'keys' %}">Claves{% if pending_keys > 0 %} <span class="badge badge-pill badge-danger">{{ pending_keys }}</span>{% endif %}</a>
            </li>
            <li class="nav-item {% block nav-transactions %}{% endblock %}">
              <a class="nav-link" href="{% url 'transactions' %}">Transacciones</a>
            </li>
            <li class="nav-item {% block nav-products %}{% endblock %}">
              <a class="nav-link" href="{% url 'id_search' %}">Localizar Productos</a>
            </li>
            <li class="nav-item {% block nav-config %}{% endblock %}">
              <a class="nav-link" href="{% url 'config_products' %}">Configuración</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item ml-5"><span class="navbar-text">({{ request.user.username }})</span></li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}"><i class="flaticon-logout"></i></a>
            </li>
            {% else %}
            <li class="nav-item {% block nav-login %}{% endblock %}">
              <a class="nav-link" href="{% url 'login' %}"><i class="flaticon-login"></i></a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

  </body>

</html>
