{% extends 'base.html' %}
{% block nav-stages %}active{% endblock %}
{% block content %}
<h3 class="mt-3">Gestión de Claves</h3>
<ul class="nav nav-tabs">
    <li class="nav-item">
    <a class="nav-link active" href="#">Activas</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Pendientes {% if pending_keys > 0 %} <span class="badge badge-pill badge-danger">{{ pending_keys }}</span>{% endif %}</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Desactivadas</a>
    </li>
</ul> 
<div class="table-responsive">
<table class = "table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Hash</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
    {% for k in keys_list %}
        <tr>
            <td class="align-middle">{{ k.name }}</td>
            <td class="align-middle">{{ k.hash }}</td>
            <td class="align-middle"><a href="#" class="btn btn-info" role="button">Detalles</a> <a href="#" class="btn btn-danger" role="button">Desactivar</a></td>
        </tr>
    {% empty %}
        <tr>Aún no hay etapas.</tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}