{% extends 'base.html' %}
{% load static %}
{% block nav-products %}active{% endblock %}
{% block content %}
<h3 class="mt-3 mb-4">Localizador de Productos</h3>
<div class="row">
<div class="text-left col-sm-6 offset-1">
<p><b>Producto:</b> {% if p_name %}{{ p_name }}{% else %}{{ p.product }}{% endif %}</p>
<p><b>Identificador:</b> {{ p.id }}</p>
<p><b>Primera transacción:</b> <a href="{% url 'transaction_details' p.first_transaction %}">{{ p.first_transaction.hash|slice:"15" }}</a></p>
<p><b>Última transacción:</b> <a href="{% url 'transaction_details' p.last_transaction %}">{{ p.last_transaction.hash|slice:"15" }}</a></p>
{% if p.owner %}
<p><b>Estado:</b> En producción</p>
<p><b>Etapa actual:</b> <a href="{% url 'key_details' p.owner.hash %}">{{ p.owner.name }}</a></p>
{% else %}
<p><b>Estado:</b> En destino</p>
<p><b>Destino:</b> {% if destination %}<a href="{% url 'destination_details' destination.code %}">{{ destination.name }}</a>{% else %}{{ p.destination }}{% endif %}</p>
{% endif %}
</div>
<div class="text-center col-sm-4">
    <div id="qrcode"></div>
    <script src="{% static "qrcode.min.js" %}"></script>
    <script type="text/javascript">
    new QRCode(document.getElementById("qrcode"), "{{ request.get_host }}{% url 'id_details' p.id %}");
    </script>
</div>
</div>
<p class="text-left"><b>Materia prima:</b></p>
<table class="table table-striped">
    <thead>
        <tr><th>Producto</th><th>Origen</th></tr>
    </thead>
    <tbody>
        {% for product, origin_list in origins.items %}
        <tr><td>{{ product }}</td><td>
            {% for o in origin_list %}
                {% if o.code %}<a href="{% url 'origin_details' o.code %}">{{ o.name }}</a>{% else %}{{ o }}{% endif %}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td></tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}