{% extends 'base.html' %}
{% block nav-products %}active{% endblock %}
{% block content %}
<h3 class="mt-3 mb-4">Localizador de Productos</h3>
<div class="text-left" style="max-width: 700px; margin: auto">
<p><b>Producto:</b> {% if p_name %}{{ p_name }}{% else %}{{ p.product }}{% endif %}</p>
<p><b>Identificador:</b> {{ p.id }}</p>
<p><b>Primera transacción:</b> <a href="{% url 'transaction_details' p.first_transaction %}">{{ p.first_transaction }}</a></p>
<p><b>Última transacción:</b> <a href="{% url 'transaction_details' p.last_transaction %}">{{ p.last_transaction }}</a></p>
{% if p.owner %}
<p><b>Estado:</b> En producción</p>
<p><b>Etapa actual:</b> <a href="{% url 'key_details' p.owner.hash %}">{{ p.owner.name }}</a></p>
{% else %}
<p><b>Estado:</b> En destino</p>
<p><b>Destino:</b> {{ p.destination }}</p>
{% endif %}
<p><b>Materia prima:</b></p>
<table class="table table-striped">
    <thead>
        <tr><th>Producto</th><th>Origen</th></tr>
    </thead>
    <tbody>
        {% for product, origin_list in origins.items %}
        <tr><td>{{ product }}</td><td>
            {% for o in origin_list %}
                {{ o }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}